.Header__logo, .Header__cart, .Header__user{
    width: 10vw;
}

.Header__nav a{
    text-decoration: none;
}

.Header__nav a:hover,
.Header__nav a.Header__active{
    background-color: violet;
}

.Header__logo{
    font-family: var(--ff-title);
    font-size: var(--fs-xl);
}